<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  <include file="$(find raspicam)/launch/raspicam.launch"/>
  <include file="$(find imu)/launch/imu.launch"/>
  <include file="$(find ultrasonic_sensor)/launch/ultrasonic_sensor.launch"/>
  <include file="$(find robot_launch)/launch/april_tag_detection.launch"/>
  <include file="$(find motor_driver)/launch/motor_driver.launch"/>
</launch>
